body {
    
}

#header {
    padding-top: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}

#instructions {
    width: 800px;
    border: 5px;
    border-style: inset;
    border-color: lime;
    background-color: lime;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
}

.title {
    font-size: 30px;
    text-align: center;
}

.gameStats {
   
    text-align: center;
    margin-bottom: 20px;
}

.gemPictures {
    text-align: center;
}

#crystalOne {
    border: 3px;
    border-color: blue;
    border-style: solid;
}

#crystalTwo {
    border: 3px;
    border-color: red;
    border-style: solid;
}

#crystalThree {
    border: 3px;
    border-color: purple;
    border-style: solid;
}

#crystalFour {
    border: 3px;
    border-color: orange;
    border-style: solid;
}

